/*! project specific CSS goes here. */

body {
	padding-top: 31px;
	font-family: "Lucida Sans Unicode";
    background: #E1E3E4;
    margin:  0px;
}

ul {
    list-style: none;
}

.container {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%;
}

.navbar-nav {
    float: left;
    margin: 0;
    width: 80%;
}

#logout {
    float: right;
}

.page-content {
	padding: 0 20px;
    margin: 0;
}

#widgets-list {
    margin: 30px 0 10px 0;
    padding:0;
}

.page-banner {
    margin-bottom: 7px;
    max-width: 95%;
    margin: 0 2.5% 7px 2.5%;
}

/* gallery widget */

.gallery-widget {
    width: 100%;
    text-align: center;
    position:  relative;
    overflow: hidden;
}

.gallery-item {
    background-color: inherit;
    /* float: left; */
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    padding: 10px;
    width: 200px;
    margin: 0 auto 25px 0;
    display: inline-block;
}

.gallery-title-only-container {
    position:relative;
    top:-60px;
}

.gallery-title-only-link {
    font-size:18px !important;
}

.gallery-item-image-wrap {
    height: 240px;
}

/*row focus widget*/

.bx-wrapper {
    margin: 0 25px!important;
    max-width: none!important;
}
.slider-control.prev {
    text-align: right;
    position: absolute;
    top: 30%;
    left: 0;
}

.slider-control {
    top: 40%;
}

.slider-control.next {
    text-align: left;
    position: absolute;
    top: 30%;
    right: 0px;
}

.carousel {
    width: 100%;
}

.carousel i {
    font-size:32px;
    color: #000;
}

.row-focus-item {
    text-align: center;
}

/* movie item */
.movie-title {
    font-size:14px;
    height: 36px;
    margin: 6px 0 3px 0;
    position:relative;
    overflow: hidden;
}

.movie-image {
    height:250px;
}

.seen-it {
    background: #000;
    padding: 8px;
    width: 75%;
    margin-left: 12.5%;
}

.seen-it a { 
    color: #FFF;
    font-size: 14px;
    text-decoration:none!important;
}
.seen-it a:hover {
    text-decoration: none;
    color: #DDD;
}

/* -----------  ----------- */
@media screen and (max-width: 767px) {
  
    #logout {
        float:none;
    }

}

@media screen and (max-width: 540px) {

    .gallery-item {
        background-color: inherit;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        padding: 0px;
        width: 160px;
        margin: 0 auto 20px 0;
        display: inline-block;
    }
    .movie-image {
        height: 200px;
    }
}
