{% load display_tags %}
<div class="widget-ad-item">
    {% if item.image.url %}
        <a href="{{ item.path|wrapped_url }}" title="{{ item.name }}">
            <img src="{{ item.image.url|sized_image:size }}" alt="{{ item.name }} image" width="160px" height="108px">
        </a>
    {% else %}
        <div class="row-title-only-container">
            <a class="row-title-only-link" href="{{ item.path | wrapped_url }}">
                <strong>{{ item.title }}</strong>
             </a>
         </div>
    {% endif %}
</div>