{% load page_tags %}

{% if movie.image.url %}
    <div class="movie-image-wrap">
        <a href="{{ movie.profile_url }}"><img class="movie-image"
                                                  src="{{ movie.image.url }}"
                                                  alt="{{ movie.title }} image"></a>
    </div>
    
    {% if movie.title %}
        <p class="movie-title">{{ movie.title|safe }} - ({{ movie.year }})</p>
    {% endif %}

    {% if movie.id|has_rating %}
        {% with movie.id|get_rating as rating %}
            <div class="rate-it" data-score="{{ rating }}">
                <a class="seen-it-link" href="javascript:;"></a>
            </div>
        {% endwith %}
    {% elif movie.id|has_been_seen %}
        <div class="rate-it">
            <a class="seen-it-link" href="javascript:;"></a>
        </div>
    {% else %}
        <div class="seen-it">
            <a class="seen-it-link" href="javascript:;">I've Seen This!</a>
        </div>
    {% endif %}
{% else %}
    <div class="movie-title-only-container">
        <a class="movie-title-only-link" href="#">
        {% if movie.title %}
            <strong>{{ movie.title|safe }}</strong>
        {% endif %}
        {% if movie.id|has_been_seen %}
            <div class="rate-it">
                <a class="seen-it-link" href="javascript:;"></a>
            </div>
        {% else %}
            <div class="seen-it">
                <a class="seen-it-link" href="javascript:;">I've Seen This!</a>
            </div>
        {% endif %}
        </a>
    </div>
{% endif %}
